{% extends 'base.html.twig' %}

{% block title %}Hello ShipController!{% endblock %}

{% block body %}
<h1>Welcome to our space station !</h1>
<a href="{{path('app_logout')}}">Disconnect</a>

<h2>-Add your ship-</h2>
{{form(add)}}

<h2>-Select your ship-</h2>

{% for ship in ships %}
    <div class="oneShip">
        <h3>Name: 
            <a href="{{path('app_ship_show', {slug:ship.slug})}}">
            {{ship.name}}
            </a>
        </h3>
        <p>Registration nb: <span class="registration_nb">{{ship.registrationNumber|raw}}</span></p>

        {% if is_granted('ROLE_ADMIN') %}
            <form action="{{path('app_ship_delete', {id: ship.id})}}" method="POST">
                <input type="hidden" name="csrf" value="{{csrf_token('delete'~ship.id)}}">
                <input class="del_btn" type="submit" value="Delete">
            </form>

            <a href="{{path('app_ship_update', {slug: ship.slug})}}" class="edit_btn">Edit</a>
    </div>
    {% endif %}
    
{% else %}
    <p>no ship</p>
{% endfor %}

{% endblock %}
